flows.json
[{"id":"602b093d.03b548","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ea159d2.db0d56","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f2ffea85.3b8c18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"62e4a82.13a3d58","type":"ui_tab","name":"Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false},{"id":"efb9c306.5739f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2460c510.bdf4fa","type":"ui_group","name":"Select Employee","tab":"62e4a82.13a3d58","order":1,"disp":true,"width":"6","collapse":false},{"id":"63c10645.fdb958","type":"ui_group","name":"Sentiment of Conversation","tab":"62e4a82.13a3d58","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e184602.dd3418","type":"ui_dropdown","z":"602b093d.03b548","name":"","label":"","tooltip":"","place":"Select option","group":"2460c510.bdf4fa","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Mahankali Surya Tej","value":"Mahankali Surya Tej","type":"str"},{"label":"Pradeepthi","value":"Pradeepthi","type":"str"},{"label":"Rincy","value":"Rincy","type":"str"},{"label":"Supriya","value":"Supriya","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":80,"y":120,"wires":[["450dc209.703cdc","4a414b16.154da4"]]},{"id":"450dc209.703cdc","type":"cloudant in","z":"602b093d.03b548","name":"","cloudant":"","database":"employee1","service":"node-red-xtgvd-2021--cloudant-1622812440639-15474","search":"_id_","design":"","index":"","x":270,"y":60,"wires":[["da878713.4cb1a8","cc119166.74774"]]},{"id":"4a414b16.154da4","type":"debug","z":"602b093d.03b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":280,"wires":[]},{"id":"da878713.4cb1a8","type":"debug","z":"602b093d.03b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"cc119166.74774","type":"function","z":"602b093d.03b548","name":"parse DB op","func":"msg.payload=msg.payload.conv\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":200,"wires":[["1f51c4f2.f77b1b","8999aeda.3d931","a5d03326.fe838"]]},{"id":"1f51c4f2.f77b1b","type":"debug","z":"602b093d.03b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":380,"wires":[]},{"id":"8999aeda.3d931","type":"watson-tone-analyzer-v3","z":"602b093d.03b548","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"customerEngagementTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/74a157ff-6a7b-47c1-8a1c-f84d636d0a17","x":520,"y":180,"wires":[["cc89d9c5.fc7cf8","fb19dffe.923b2"]]},{"id":"a5d03326.fe838","type":"debug","z":"602b093d.03b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":340,"wires":[]},{"id":"cc89d9c5.fc7cf8","type":"debug","z":"602b093d.03b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"fb19dffe.923b2","type":"function","z":"602b093d.03b548","name":"","func":"var p=0\nvar ex=0\nvar fr =0;\nvar ip=0;\nvar s =0;\nvar sa=0;\nvar sy=0\nvar n=\"\"\nvar ut=msg.response.utterances_tone;\n//msg.payload=tone.length\nfor (i=0;i<ut.length;i++){\n    var tone=msg.response.utterances_tone[i].tones.length\n    for (j=0;j<tone;j++){\n        n=msg.response.utterances_tone[i].tones[j].tone_name;\n       if(msg.response.utterances_tone[i].tones[j].tone_name==\"Polite\"){\n           p=p+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sad\"){\n           s=s+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Frustrated\"){\n           fr=fr+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Impolite\"){\n           ip=ip+1\n       }\n       else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Satisfied\"){\n           sa=sa+1\n       }\n        else if(msg.response.utterances_tone[i].tones[j].tone_name==\"Sympathetic\"){\n           sy=sy+1\n       }\n        \n    }\n}//\n// \"data\": [ [p], [s], [fr],[ip],[sa],[sy]],\n//msg.payload=n\nmsg.payload=[{\"series\":[\"Data\"],\n    \"data\": [ p, s, fr,ip,sa,sy],\n    \"labels\": [ \"polite\",\"sad\", \"frustrated\",\"impolite\",\"satisfied\",\"sympathetic\"]}]\n//msg.payload={\"polite\":p,\"sad\":s,\"frustrated\":fr,\"impolite\":ip,\"satisfied\":sa,\"sympathetic\":sy}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["44fea020.7c7ee","f598d56a.6c7088","74ccef18.20555"]]},{"id":"44fea020.7c7ee","type":"debug","z":"602b093d.03b548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"f598d56a.6c7088","type":"ui_chart","z":"602b093d.03b548","name":"","group":"63c10645.fdb958","order":0,"width":0,"height":0,"label":"Sentiment Analysis","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":420,"wires":[[]]},{"id":"74ccef18.20555","type":"function","z":"602b093d.03b548","name":"","func":"msg.payload=msg.response.utterances_tone\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":480,"wires":[["987ae11e.ed629"]]},{"id":"987ae11e.ed629","type":"cloudant out","z":"602b093d.03b548","name":"","cloudant":"","database":"sentiment","service":"node-red-xtgvd-2021--cloudant-1622812440639-15474","payonly":false,"operation":"insert","x":690,"y":500,"wires":[]}]